<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zero Blog</title>
        <%- include('layout/header') %>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layout/nav') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/theme_blog/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Zero Blog</h1>
                            <span class="subheading">A Blog Theme Very good</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <% if(posts && posts.length > 0) { %>
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <% posts.forEach(function(post) {%>
                    <div class="post-preview">
                        <a href="/blog/post/<%= post.id %>">
                            <h2 class="post-title"><%= post.title %></h2>
                            <h3 class="post-subtitle"><%= post.content %></h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#"><%= post.author %></a>
                            on <%= post.created_at %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <% }) %>
                    
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
                <% }else {%>
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <%= error %>
                    </div>
                <% }%>
            </div>
        </div>
        <!-- Footer-->
        <%- include('layout/footer') %>
    </body>
</html>
